.header-conteiner{

  width: 100%;
  background-color: aquamarine;
}
.header-searchpad {
  width: 20em;
  margin: 0 auto;
}
.header-searchpad-input {
  width: 100%;

}

.header-logo{
  width: 200px;
  border: solid 1px;
  background-color: antiquewhite;
  border-radius: 3px;
  box-shadow: 0.1em 0.1em 0.5em black;
}
